---
---

@import "{{ site.theme }}";

#header_wrap_1{background:#00BFFF;background:-moz-linear-gradient(top, #373737, #212121);background:-webkit-linear-gradient(top, #373737, #212121);background:-ms-linear-gradient(top, #373737, #212121);background:-o-linear-gradient(top, #373737, #212121);background:linear-gradient(to top, #373737, #212121)}

#footer_wrap_1{background:#00BFFF}
